/* CSS Reset */
body {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px;
    padding: 0px;
    background: url('../img/bg.jpg');
}

.left {
    /* border: 2px solid red; */
    color: white;
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
}

.mid {
    /* 2px solid green; */
    color: white;
    display: block;
    width: 50%;
    margin: 20px auto;
    font-size: 2px;
}

.right {
    /* border: 2px solid yellow; */
    color: white;
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;
}

.navbar {
    display: inline-block;
    
}

.navbar li {
    display: inline-block;
    color: white;
    font-size: 20px;
}

.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover {
    text-decoration: underline;
    color: grey;
}

.left img {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px auto;
    width: 75px;
    /* 👇 Inverts the color of the image */
    filter: invert(100%);
}

.left div {
    text-align: center;
    margin: 0px auto;
    line-height: 0px;
    font-size: 22px;
}

.btn {
    margin: 0px 9px;
    padding: 4px 4px;
    color: white;
    background-color: black;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Baloo Bhai', cursive;
}

.btn:hover {
    background-color: rgb(19, 18, 18);
    font-family: 'Baloo Bhai', cursive;
}

.container {
    /* border: 2px solid white; */
    color: white;
    margin: 85px auto;
    padding: 20px;
    width: 33%;
    /* border-radius: 28px; */
}

.form-group input {
    text-align: center;
    display: block;
    width: 300px;
    border: 2px solid black;
    margin: 7px auto;
    padding: 4px;
    border-radius: 8px;
    font-family: 'Baloo Bhai', cursive;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.75);
}

.form-group input:hover {
    background-color: rgb(255, 255, 255);
}

.form-btn {
    display: block;
    width: 74%;
    margin: auto;
}

.container h1 {
    text-align: center;
}